<div class="overlay">
  <div class="modal">
    <button (click)="close()" class="btn-close">
      <img src="/assets/img/close.svg" alt="close">
    </button>

    <h2 class="modal__title">Star Wars Heroes info</h2>

    <div class="modal__info">
      <div class="modal__text">
        Here you can find information about Star Wars Heroes, from all 7 films.
      </div>

      <div class="modal__text">
        <p>How to use:</p>
        <p>To show next Hero click on the "Next" button or on the right side page.</p>
        <p>To show previous Hero click on the "Previous" button or on the left side page.</p>
      </div>

      <div class="modal__text">
        If you will forget something, you always can open this help by "Help" button.
      </div>
    </div>

    <button (click)="close()" class="btn">Close</button>
  </div>
</div>
